<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Задачи</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  </head>
  <body>

      <div class="container">
          <h1>Задачи</h1>
          <a href="/task/add/">Создать задачу</a>
          <div class="row-row-cols-2">
              {% for task in tasks %}
                  <div class="col p-2">
                    <div class="card">
                      <div class="card-body">
                        <h5 class="card-title">{{ task.description }}</h5>
                        <h6 class="card-subtitle mb-2 text-body-secondary">{{ task.get_status_display }}</h6>
                        <p class="card-text">{{ task.date_of_finish|date:'d-m-Y' }}</p>
                        <form action="/task/delete/" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name = "id" value="{{ task.id }}">
                            <button type="submit" class="btn btn-danger">Удалить</button>
                        </form>
                      </div>
                    </div>

                  </div>


              {% endfor %}


           </div>

      </div>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>